In [ ]:
try:
    import google.colab
    IN_COLAB = True
except ImportError:
    IN_COLAB = False

from pathlib import Path
# Determine the locations of auxiliary libraries and datasets.
if IN_COLAB:
    google.colab.drive.mount("/content/drive")
    
    # Change this if you created the shortcut in a different location
    AUX_DATA_ROOT = Path("/content/drive/My Drive/Lenta Hack/hack_data")
    
    assert AUX_DATA_ROOT.is_dir(), "Have you forgot to 'Add a shortcut to Drive'?"
    
    import sys
    sys.path.insert(0, str(AUX_DATA_ROOT))
else:
    AUX_DATA_ROOT = Path(".")

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install -U pyarrow

Collecting pyarrow
  Downloading https://files.pythonhosted.org/packages/f3/99/0a605f016121ca314d1469dc9069e4978395bc46fda40f73099d90ad3ba4/pyarrow-1.0.1-cp36-cp36m-manylinux2014_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 1.4MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.18.5)
Installing collected packages: pyarrow
  Found existing installation: pyarrow 0.14.1
    Uninstalling pyarrow-0.14.1:
      Successfully uninstalled pyarrow-0.14.1
Successfully installed pyarrow-1.0.1

In [ ]:
data = pd.read_parquet(f"{AUX_DATA_ROOT}/transactions.parquet")
data = data.sample(frac=1)
data = data[:3000000]

In [ ]:
data

                                    chq_id  ... is_promo
20984412  a86413d37475c21a1fe56519f04d689b  ...        1
18042080  72e259787d55317c889b899a87385fa9  ...        0
16638751  e123dc37778369b45f0bef90d44dd7f8  ...        0
24024025  b9cb483b802e5eb42494a4818e8299e1  ...        1
14684936  9b81a9632ba9144946f7db8f38fc767f  ...        0
...                                    ...  ...      ...
15717380  8d9188da3f2dc2e271df03f9d039c4aa  ...        1
15970075  51ee467ab57f7bd8062762e5b7bd05c8  ...        0
18810879  07bbb043815188824bcd2310a09eb879  ...        0
18217889  0fba28c8ee3e4754a8d1cc3324aa4823  ...        0
16326718  f2e7fb8ad7577e75a5a5bd4863f692f9  ...        0

[3000000 rows x 9 columns]

In [ ]:
data['price'] = data['sales_sum']/data['sales_count']
data

                                    chq_id  ...       price
20984412  a86413d37475c21a1fe56519f04d689b  ...   34.890000
18042080  72e259787d55317c889b899a87385fa9  ...   22.990000
16638751  e123dc37778369b45f0bef90d44dd7f8  ...    6.990000
24024025  b9cb483b802e5eb42494a4818e8299e1  ...   39.890000
14684936  9b81a9632ba9144946f7db8f38fc767f  ...   14.490000
...                                    ...  ...         ...
15717380  8d9188da3f2dc2e271df03f9d039c4aa  ...  137.890000
15970075  51ee467ab57f7bd8062762e5b7bd05c8  ...   46.990000
18810879  07bbb043815188824bcd2310a09eb879  ...   64.891147
18217889  0fba28c8ee3e4754a8d1cc3324aa4823  ...  137.190000
16326718  f2e7fb8ad7577e75a5a5bd4863f692f9  ...   99.990000

[3000000 rows x 10 columns]

In [ ]:
# clients_path = f"{AUX_DATA_ROOT}/clients.csv"
# clients = pd.read_csv(clients_path)

materials_path = f"{AUX_DATA_ROOT}/materials.csv"
materials = pd.read_csv(materials_path)

# plants_path = f"{AUX_DATA_ROOT}/plants.csv"
# plants = pd.read_csv(plants_path)

In [ ]:
materials

                                material  ... is_alco
0       35cbdf61de9e19c8b417327aaef14c88  ...       0
1       c0b0bf24d4ec71da3d304f761ec555d8  ...       0
2       f0fc5e654a81a7c4b8ba8d7c26546e14  ...       0
3       353693e64fb5f9e2d29746d7fe6edf1e  ...       0
4       5d9e0b4302ce95448cae72165ff4cf5b  ...       0
...                                  ...  ...     ...
105604  feeddbacd9eed3bac85b1571ac79e40e  ...       0
105605  e218c4c3676927e53b95a12ffe9e721a  ...       1
105606  9a5e2e34d8406616f5981868b4576444  ...       0
105607  d208910eb82fa1f57684f793f93521a4  ...       0
105608  ac6bf06bbda21e48809e734c1f6fa010  ...       0

[105609 rows x 8 columns]

In [ ]:
data = pd.merge(data, materials, how = 'left', on='material')
data

                                   chq_id  ... is_alco
0        a86413d37475c21a1fe56519f04d689b  ...     0.0
1        72e259787d55317c889b899a87385fa9  ...     0.0
2        e123dc37778369b45f0bef90d44dd7f8  ...     0.0
3        b9cb483b802e5eb42494a4818e8299e1  ...     0.0
4        9b81a9632ba9144946f7db8f38fc767f  ...     0.0
...                                   ...  ...     ...
2999995  8d9188da3f2dc2e271df03f9d039c4aa  ...     0.0
2999996  51ee467ab57f7bd8062762e5b7bd05c8  ...     0.0
2999997  07bbb043815188824bcd2310a09eb879  ...     0.0
2999998  0fba28c8ee3e4754a8d1cc3324aa4823  ...     0.0
2999999  f2e7fb8ad7577e75a5a5bd4863f692f9  ...     0.0

[3000000 rows x 17 columns]

In [ ]:
freq = data.groupby(['client_id', 'hier_level_3', 'hier_level_4', 'material']).chq_id.count().reset_index().sort_values('chq_id',ascending=False).set_index('client_id')
freq.rename(columns = {"chq_id":"frequency"}, inplace = True)

In [ ]:
freq.head(40)

                                                      hier_level_3  ... frequency
client_id                                                           ...
dfb684ff08c6dea880d5eb9f0e9309cf  a3788c8c64fd65c470e23e7534c3ebc8  ...       114
35e38d87f20cead704467ba83c0f0ec3  7501e5d4da87ac39d782741cd794002d  ...       107
ac50f6d558766dceed03dae195d0d151  2eb5657d37f474e4c4cf01e4882b8962  ...        95
d316c6fb1ecfc3303ef286ad7426a642  7501e5d4da87ac39d782741cd794002d  ...        84
cd2a8f57759a0d247db058321b6a12b3  a3788c8c64fd65c470e23e7534c3ebc8  ...        76
0b1b96c791f5779ad006171187b2d31e  7501e5d4da87ac39d782741cd794002d  ...        72
4341c3b1a1c9d78a7c27e4c11ec7eb2f  f2d887e01a80e813d9080038decbbabb  ...        47
a730942ae3157d688a9b96180c3048d3  64c31821603ab476a318839606743bd6  ...        46
ef0bb7c50945fd32967badc6f7e3134e  7d265aa7147bd3913fb84c7963a209d1  ...        45
35e38d87f20cead704467ba83c0f0ec3  c5866e93cab1776890fe343c9e7063fb  ...        45
c1a54f2639e7b29099a11940e3dff4b0  2eb5657d37f474e4c4cf01e4882b8962  ...        44
173a2181a0a6076c8f7b8bc9d10926d5  4ab52371762b735317125e6446a51e8f  ...        41
9e486ace04de5e3b2529d76d115dcbba  7501e5d4da87ac39d782741cd794002d  ...        40
a0eea03972709b36228abfb3d0c90b35  a3788c8c64fd65c470e23e7534c3ebc8  ...        40
4ff8e1f9dbca37474d92f392f31f97ae  2eb5657d37f474e4c4cf01e4882b8962  ...        38
36a2a483c0706ac1f7511b8e3bdcb657  7501e5d4da87ac39d782741cd794002d  ...        38
4b47c9b3e285fb66dc68fdcd2161598f  f2d887e01a80e813d9080038decbbabb  ...        37
c9722a50f33a09c1e54ce63fb43f898d  6abcc8f24321d1eb8c95855eab78ee95  ...        37
c718eedda09f699458456322afdc8f98  7501e5d4da87ac39d782741cd794002d  ...        36
423de53eb432daa7273f65b1ef4368f0  7501e5d4da87ac39d782741cd794002d  ...        34
cb1a1060570bb956afd6320df40563bf  564645fbd0332f066cbd9d083ddd077c  ...        34
749995001b6c36d175b9d5d82c96ea10  2eb5657d37f474e4c4cf01e4882b8962  ...        33
8689931b2883861645dfd5d071ab74db  f2d887e01a80e813d9080038decbbabb  ...        33
701dae14d685d629c68538e36b0e4b41  f2d887e01a80e813d9080038decbbabb  ...        32
126307e3876e16b7af54d985d16940e7  64c31821603ab476a318839606743bd6  ...        32
081eff9f601b23493939b3a634af8c8e  64c31821603ab476a318839606743bd6  ...        31
bbd8097a65d42b8e1559e5fcf87de8fd  c0f971d8cd24364f2029fcb9ac7b71f5  ...        31
d48db421706975f17e8a9373baeb0669  2eb5657d37f474e4c4cf01e4882b8962  ...        31
5a73b20d50a6b2745f691d6cb0f7efae  f2d887e01a80e813d9080038decbbabb  ...        31
48a8a26cd410f3df4b3cdf3bbd008eeb  4ab52371762b735317125e6446a51e8f  ...        29
5f4e35525ac3685216d1f6fea3d0c966  2eb5657d37f474e4c4cf01e4882b8962  ...        29
4637458785d392cd522eaea2e260c93b  6abcc8f24321d1eb8c95855eab78ee95  ...        29
9fc7bfaf130b50b5786b9c6f308c1dc4  a3788c8c64fd65c470e23e7534c3ebc8  ...        29
ca55b7df9043d95041a153d14c5294d8  2eb5657d37f474e4c4cf01e4882b8962  ...        29
fc41835b68c09d1399134388306bbc34  2eb5657d37f474e4c4cf01e4882b8962  ...        29
2c93f67909c22cdbcf5cd266623bc35e  f2d887e01a80e813d9080038decbbabb  ...        28
3f5795957175cd99a3fd56bc4c19b218  2eb5657d37f474e4c4cf01e4882b8962  ...        28
7e357a9f921733709e75e93291a0fce4  bd3ef5c19067fe179f71c8b86ea4b39b  ...        28
d9ef064c8757722d3091d7cb6848710c  2eb5657d37f474e4c4cf01e4882b8962  ...        27
885b34655c440af288c8cf29e1a13487  4aec1b3435c52abbdf8334ea0e7141e0  ...        27

[40 rows x 4 columns]

In [ ]:
promo = data.groupby(['client_id', 'hier_level_3', 'hier_level_4', 'material']).agg({'is_promo': 'sum'})
promo

                                                                                                                                     is_promo
client_id                        hier_level_3                     hier_level_4                     material
0000d48a8891cd462fdf01ea861ec53e 077b83af57538aa183971a2fe0971ec1 fd32e508db711e1879edd10f1820ddc7 b3f18b3fef2e0b1a6f35cb7cc4298c51         0
                                 09a69de15cf89bc7fe8c0642f906a4dd fb900ec217f36927c7ba652042148331 1900cafcab3e9dafe33927178f17b6b8         1
                                 124461dcd3571e6674ec4e0e140cc298 ac86f5ba1983d6a4860d0c22ee2a7679 5041e78160873dd97377183c917b630a         1
                                 149ef6419512be56a93169cd5e6fa8fd d9b545c7ce73410f8c9f4f7bbd429717 da163f4dfbea1578d9b64616e35bf66d         0
                                 24ec8468b67314c2013d215b77034476 f4e65cd8421074ce1c3ef34d181ad4fa a7edd6c7354237c10469e53e62cbc3e3         1
...                                                                                                                                       ...
fffc477269ae5f219e39aa51fa7abb81 e71e5cd119bbc5797164fb0cd7fd94a4 91534231d73afa8f5765e15d83711a52 6c54ca6fd28928b73e9b6c3e796c68b7         1
                                 f23b3df742bb9fbf6bbf30a05150ac19 19581aa371a687823cd7840e58087492 bdfe297c862890113e7fd79922e0bc27         1
fffd3e78e3ea6bf00aee1372efc09dad 155fa09596c7e18e50b58eb7e0c6ccb4 8f4d4869ec6fc30d05ad643b952e0dbc 5853283dece1f7a4da50cc4bebd5b116         1
                                 3a61ed715ee66c48bacf237fa7bb5289 22aef2a6748ffb4853c2e0a9127654d1 3e9e654e56cb4c5c4631b256c5d5753e         0
                                 645098b086d2f9e1e0e939c27f9f2d6f d66a5517fea10ab5d81ee32912ef07e6 f27d1e86a3fdddc3efea8d9b460376aa         1

[2659698 rows x 1 columns]

In [ ]:
freq_promo = pd.merge(freq, promo, how = 'left', on=['client_id', 'hier_level_3', 'hier_level_4', 'material'])
freq_promo['price'] = freq_promo[['material']].apply(lambda x : data.query('material == "%s"' % x[0]).price.mean(), axis=1)

In [ ]:
freq_promo.reset_index(inplace=True)

## Customer Categorization

In [ ]:
def is_article_oriented(row):
  client = row.client_id
  material = row.material
  freq = row.frequency
  price = row.price
  level = row.hier_level_4

  discounts = True
  cheap = True

  client_table = freq_promo.loc[((freq_promo.client_id == client) & (freq_promo.material == material))]

  if (len(client_table[client_table.is_promo == 0]) > 0): # The client buys the article without a discount even for one time
    discounts = False
  
  materials_table = freq_promo[(freq_promo.hier_level_4 == level)]
  if (materials_table.price.mean() < price): # The client buys the most expensive material
    cheap = False

  return not (discounts or cheap)


freq_promo['is_article_oriented'] = freq_promo.apply(is_article_oriented, axis=1)
freq_promo.head()

In [ ]:
print(freq_promo[freq_promo.is_article_oriented == True].shape[0] / freq_promo.shape[0])

## Article Scoring

In [ ]:
def has_negative_feedback(client, material):
  q = data.query('client_id == "%s" and material == "%s"' % (client, material))
  return len(q[q.return_count >= 1]) > 0  #Has a negative feedback
def compute_score(row):
  client = row.client_id
  material = row.material
  level = row.hier_level_4
  freq = row.frequency
  score = 0
  if not has_negative_feedback(client, material):
    score = freq / freq_promo.query('client_id == "%s" and hier_level_4 == "%s"' % (client, level)).frequency.sum()
  
  return score

freq_promo['material_score'] = freq_promo.apply(compute_score, axis=1)
freq_promo.head()

In [ ]:
freq_promo[freq_promo.material_score < 1]

In [ ]:
freq_promo[((freq_promo.hier_level_4 == '65ce9a05680f7ff3339a68cc1eac2330') & (freq_promo.client_id == '759165e34fbdc27550ccf84ceeefac17'))]

## Data split

In [ ]:
price_oriented_people = freq_promo[~ freq_promo.is_article_oriented].copy()
article_oriented_people = freq_promo[freq_promo.is_article_oriented].copy()

In [ ]:
price_oriented_people.head()

In [ ]:
article_oriented_people.head()

#AO Score vs. PO Score (Article Oriented Vs. product Oriented)

In [ ]:
def compute_total_score(row, po=True):
  material = row.material
  if po:
   return price_oriented_people[price_oriented_people.material == material].material_score.sum()

  else:
    return article_oriented_people[article_oriented_people.material == material].material_score.sum()

In [ ]:
price_oriented_people['PO_Score'] = price_oriented_people.apply(compute_total_score, axis=1)

In [ ]:
price_oriented_people.head()

In [ ]:
article_oriented_people['AO_Score'] = article_oriented_people[['material']].apply(compute_total_score, axis=1, args=(False,))

In [ ]:
article_oriented_people.head()

# FIND PRICES FOR MATERIALS

In [ ]:
df1 = data[['client_id', 'price', 'hier_level_3', 'hier_level_4', 'material', 'sales_count']].copy()
def compute_count(x):
  if x.sales_count < 0:
    return 1
  else:
    return 0
df1['return_count'] = df1.apply(compute_count, axis=1)
df1 = df1.groupby(['hier_level_3', 'hier_level_4', 'material']).agg({'price': 'mean', 'return_count': 'sum'} , axis = 0).reset_index()
df1

In [ ]:
df1['material'].count()

In [ ]:
data.drop('price' , axis = 1, inplace = True, errors='ignore')

In [ ]:
def price_for_material(x):
  return x.price
data['price'] = df1.apply(price_for_material, axis = 1)
data

In [ ]:
df2 = data[['client_id', 'price', 'hier_level_3', 'hier_level_4', 'material', 'sales_count']].copy()
def compute_count(x):
  if x.sales_count < 0:
    return 1
  else:
    return 0
df2['return_count'] = df2.apply(compute_count, axis=1)
df2 = df2.groupby(['client_id', 'hier_level_3', 'hier_level_4', 'material']).agg({'price': 'mean', 'return_count': 'sum'} , axis = 0).reset_index()
df2

# FINAL TABLE

# FREQ_PROMO_PRICE

In [ ]:
# freq_promo_price = pd.merge(freq_promo, df1, how = 'left', on=['client_id','hier_level_3', 'hier_level_4','material'])
# freq_promo_price = freq_promo_price.drop('sales_count', axis = 1)
# freq_promo_price

In [ ]:
#freq_promo_price.head(40)